{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Capyzal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="тренинг, спорт, спортзал, физкультура, тренинг">
    <meta name="description" content="Лучший планировщик для ваших фитнес-тренировок">
    <meta property="og:title" content="Capyzal">
    <meta property="og:url" content="https://capyzal.onrender.com">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Лучший планировщик для ваших фитнес-тренировок">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Hydrochoeris_hydrochaeris_in_Brazil_in_Petr%C3%B3polis%2C_Rio_de_Janeiro%2C_Brazil_09.jpg/640px-Hydrochoeris_hydrochaeris_in_Brazil_in_Petr%C3%B3polis%2C_Rio_de_Janeiro%2C_Brazil_09.jpg">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
    <link rel="preload" href="resize.css" as="style" onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="{% static 'main/css/resize.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main-authorisation.css' %}">
    <link rel="shortcut icon" href="{% static 'main/img/favicon.ico' %}" type="image/ico">
    <script src="script.js" defer></script>
  </head>
  <body>
    <main>
      <a class="logo__link" href="{% url 'main' %}">{% filter upper%}capyzal{% endfilter %}</a>
      <section class="login">
        <div>
          <h1 class="login__title">{%block header %}{% endblock %}</h1>
          {% block form %} {% endblock %}
        </div>
      </section>
    </main>
  </body>
</html>